/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  background-color: rgb(18, 66, 32);
}
section{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
h3{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 50px;

}
h1,h2,h3{
  text-align: center;
}
button{
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  height: 40px;
  width: 150px;
  margin-top: 30px;
}
div{
  display: flex;
  justify-content: center;
}

/******************************************
/* LAYOUT
/*******************************************/




/******************************************
/* ADDITIONAL STYLES
/*******************************************/
